<% breadcrumbValue = 'Trang chủ / Cửa hàng'%>
<head>
    <% include ../header.ejs %>
</head>

<body class="bg-white">
    
    <% include ../main-menu.ejs %>
    

    <!--================Home Banner Area =================-->
    <!-- breadcrumb start-->

    <% include ../breadcrumb.ejs %>
    
    <!-- breadcrumb start-->

    <!--================Category Product Area =================-->
    <section class="cat_product_area section_padding border_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="left_widgets p_filter_widgets sidebar_box_shadow">
                            <div class="l_w_title">
                                <h3>Các loại sản phẩm</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li class="sub-menu">
                                        <a class=" d-flex justify-content-between">
                                            Áo
                                            <div class="right ti-plus"></div>
                                        </a>
                                        <ul>
                                            <li>
                                                <a id="áo len" onclick="return getQueryString('áo len', 0)" href="category?type=áo len">Áo len</a>
                                            </li>
                                            <li>
                                                <a id="áo hoodie" onclick="return getQueryString('áo hoodie', 0)" href="category?type=áo hoodie">Áo hoodie</a>
                                            </li>
                                            <li>
                                                <a id="áo khoác" onclick="return getQueryString('áo khoác', 0)" href="category?type=áo khoác">Áo khoác</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="sub-menu">
                                        <a class=" d-flex justify-content-between">
                                            Quần
                                            <div class="right ti-plus"></div>
                                        </a>
                                        <ul>
                                            <li>
                                                <a id="quần tây" onclick="return getQueryString('quần tây', 0)" href="category?type=quần tây">Quần tây</a>
                                            </li>
                                            <li>
                                                <a id="quần jean" onclick="return getQueryString('quần jean', 0)" href="category?type=quần jean">Quần jean</a>
                                            </li>
                                            <li>
                                                <a id="quần kaki" onclick="return getQueryString('quần kaki', 0)" href="category?type=quần kaki">Quần kaki</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a id="giày" onclick="return getQueryString('giày', 0)" href="category?type=giày">Giày các loại</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>

                        <aside class="left_widgets p_filter_widgets sidebar_box_shadow">
                            <div class="l_w_title">
                                <h3>Lọc Sản Phẩm</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <h5 style="font-weight: bold">Thương hiệu</h5>
                                    
                                    <li>
                                        <a id="Winter" onclick="return getQueryString('Winter', 1)" href="category?brand=Winter">&nbsp&nbspWinter</a>
                                    </li>
                                    <li>
                                        <a id="Wephobia" onclick="return getQueryString('Wephobia', 1)"  href="category?brand=Wephobia">&nbsp&nbspWephobia</a>
                                    </li>
                                    <li class="active">
                                        <a id="Magonn" onclick="return getQueryString('Magonn', 1)" href="category?brand=Magonn">&nbsp&nbspMagonn</a>
                                    </li>
                                    <li>
                                        <a id="Libe" onclick="return getQueryString('Libe', 1)" href="category?brand=Libe">&nbsp&nbspLibe</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>

                        <aside class="left_widgets p_filter_widgets price_rangs_aside sidebar_box_shadow">
                            <div class="l_w_title">
                                <h3>Giá</h3>
                            </div>
                            <div class="widgets_inner">
                                <div class="range_item">
                                    <!-- <div id="slider-range"></div> -->
                                    <input type="text" class="js-range-slider" value="" />
                                    <div class="d-flex align-items-center">
                                        <div class="price_text">
                                            <p>Giá :</p>
                                        </div>
                                        <div class="price_value d-flex justify-content-center">
                                            <input type="text" class="js-input-from" id="amount" readonly />
                                            <span>đến</span>
                                            <input type="text" class="js-input-to" id="amount_" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div id="test" class="row">
                        <div class="col-lg-6">
                            <input class="form-control" type="text" placeholder="search key" name="searchKey">
                            <div>
                                <a id="test" href="/">
                                    <div class="col-lg-3 badge badge-pill badge-primary mt-2 p-2">
                                        <span style="font-size: 15px;">Áo</span>
                                        <span style="font-size: 10px;" class="badge badge-light float-right">x</span>
                                    </div>
                                 </a>
                                 <a id="test" href="/">
                                    <div class="col-lg-3 badge badge-pill badge-primary mt-2 p-2">
                                        <span style="font-size: 15px;">Áo</span>
                                        <span style="font-size: 10px;" class="badge badge-light float-right">x</span>
                                    </div>
                                 </a>
                            </div>      
                        </div>
                        <div class="col-lg-12">
                            <div class="product_top_bar d-flex justify-content-between align-items-center">
                                <div class="single_product_menu product_bar_item">
                                    <a href="/category"> <h2>Tất cả</h2></a>
                                </div>
                                <div class="product_top_bar_iner product_bar_item d-flex">
                                    <div class="product_bar_single">
                                        <select id="sortType" onchange="return getQueryString('sortType',2)" class="wide">
                                            <option id="o1" value="Giá thấp đến cao" >Giá thấp đến cao</option>
                                            <option id="o2" value="Giá cao đến thấp" >Giá cao đến thấp</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <% products.forEach(function (product) { %>
                                <%- include('../product-info.ejs', {product: product}) %>
                            <% }) %>
                        </div>
                        
                        <div class="col-lg-12 text-center">
                            <div class="block-27">
                                <ul>
                                    <% for (i = 1; i <= totalPages; i++ ) { %>
                                        <li id="<%= 'li' + i%>" ><a id="<%= 'p' + i%>" onclick="return getQueryString('<%= 'p' + i %>', 3)" href="#"><%= i%></a></li>
                                    <% } %>
                                </ul>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Category Product Area =================-->

    <% include ../footer.ejs %>
    <% include ../script.ejs %>
    <script>
        const sortActive = <%= sortActive%>;
        const pageActive = <%= pageActive%>;
        if (sortActive == -1)
        {
            document.getElementById('o2').setAttribute('selected', 'selected');
        }
        else
        {
            if(sortActive == 1)
            {
                document.getElementById('o1').setAttribute('selected', 'selected');
            }
        }

        const temp = 'li';
        document.getElementById(temp + pageActive).classList.add('active');

    </script>

</body>

</html>