<% breadcrumbValue = 'Trang chủ / Cửa hàng / ' + product.name%>

<!doctype html>
<html lang="zxx">

<head>
  <% include ../header.ejs %>
</head>

<body class="bg-white">

  <% include ../main-menu.ejs %>

  <% include ../breadcrumb.ejs %>

  <!--================Single Product Area =================-->
  <div class="product_image_area section_padding">
    <div class="container">
      <div class="row s_product_inner">
        <div class="col-lg-5">
          <div class="product_slider_img">
            <div id="vertical">
              <div data-thumb="<%= product.image %>">
                <img src="<%= product.image %>" />
              </div>
              <div data-thumb="<%= product.image %>">
                <img src="<%= product.image %>" />
              </div>
              <div data-thumb="<%= product.image %>">
                <img src="<%= product.image %>" />
              </div>
              <div data-thumb="<%= product.image %>">
                <img src="<%= product.image %>" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-1">
          <div class="s_product_text">
            <% function formatMoney(money) { money = money.toString(); var
              format = ""; let i = money.length, k = 0; while (i-- > 0) {
              format = money[i] + format; k++; if (k % 3 === 0 && i != 0)
              format = "." + format; }  return format; } %>

            <h3><%= product.name %></h3>
            <h2><%= formatMoney(product.price) %> VNĐ</h2>
            <ul class="list">
              <li>
                <a class="active" href="/category">
                  <span>Category</span><%= product.type %></a>
              </li>
              <li>
                <a> <span>Trạng thái</span>Còn Hàng</a>
              </li>
            </ul>
            <p>
              Mô tả sản phẩm
            </p>
            <div class="card_area">
              <div class="product_count d-inline-block">
                <span class="inumber-decrement pointer"> <i id='minus' class="ti-minus"></i></span>
                <input id='value' class="input-number" type="number" onkeydown="return false;" value="1" min="0" max="10">
                <span class="number-increment pointer"> <i id='plus' class="ti-plus"></i></span>
              </div>
              <div class="add_to_cart">
                <button onclick="return addCartClick();" class="btn_3">Thêm vào giỏ hàng</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--================End Single Product Area =================-->

  <!--================Product Description Area =================-->
  <section class="product_description_area">
    <div class="container">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Mô tả sản phẩm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Thông số sản phẩm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
            aria-selected="false">Bình luận</a>
        </li>

      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
          <p>
            Beryl Cook is one of Britain’s most talented and amusing artists
            .Beryl’s pictures feature women of all shapes and sizes enjoying
            themselves .Born between the two world wars, Beryl Cook eventually
            left Kendrick School in Reading at the age of 15, where she went
            to secretarial school and then into an insurance office. After
            moving to London and then Hampton, she eventually married her next
            door neighbour from Reading, John Cook. He was an officer in the
            Merchant Navy and after he left the sea in 1956, they bought a pub
            for a year before John took a job in Southern Rhodesia with a
            motor company. Beryl bought their young son a box of watercolours,
            and when showing him how to use it, she decided that she herself
            quite enjoyed painting. John subsequently bought her a child’s
            painting set for her birthday and it was with this that she
            produced her first significant work, a half-length portrait of a
            dark-skinned lady with a vacant expression and large drooping
            breasts. It was aptly named ‘Hangover’ by Beryl’s husband and
          </p>
          <p>
            It is often frustrating to attempt to plan meals that are designed
            for one. Despite this fact, we are seeing more and more recipe
            books and Internet websites that are dedicated to the act of
            cooking for one. Divorce and the death of spouses or grown
            children leaving for college are all reasons that someone
            accustomed to cooking for more than one would suddenly need to
            learn how to adjust all the cooking practices utilized before into
            a streamlined plan of cooking that is more efficient for one
            person creating less
          </p>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <h5>Width</h5>
                  </td>
                  <td>
                    <h5>128mm</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Height</h5>
                  </td>
                  <td>
                    <h5>508mm</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Depth</h5>
                  </td>
                  <td>
                    <h5>85mm</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Weight</h5>
                  </td>
                  <td>
                    <h5>52gm</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Quality checking</h5>
                  </td>
                  <td>
                    <h5>yes</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Freshness Duration</h5>
                  </td>
                  <td>
                    <h5>03days</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>When packeting</h5>
                  </td>
                  <td>
                    <h5>Without touch of hand</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Each Box contains</h5>
                  </td>
                  <td>
                    <h5>60pcs</h5>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <div class="row">
            <div class="col-lg-6">
              <div id="commentList" class="comment_list">
              </div>
              <div class="col-md-12 text-center mt-5">
                <button onclick="return loadMoreEventClick();"  id="loadmore" type="button" class="btn_3">
                  Xem thêm
                </button>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="review_box">
                <h4>Nhận xét</h4>
                <form class="row contact_form" action="contact_process.php" method="post" id="contactForm"
                  novalidate="novalidate">

                  <div class="col-md-12">
                    <% if (!isAuthenticated) {%>
                    <div class="form-group">
                      <textarea class="form-control" name="message" id="fullname" rows="1"
                        placeholder="Họ và tên"></textarea>
                    </div>
                    <% } %>
                    <div class="form-group">
                      <textarea class="form-control" name="message" id="message" rows="1"
                        placeholder="Nội dung"></textarea>
                    </div>
                  </div>
                  <div class="col-md-12 text-right">
                    <button onclick="return sendCmt();" type="button" class="btn_3">
                      Gửi ngay
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Product Description Area =================-->
  <section class="product_list best_seller padding_bottom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="section_tittle text-center">
            <h2>Sản phẩm gợi ý</h2>
          </div>
        </div>
      </div>
      <div id="product-list" class="row">

      </div>
    </div>
  </section>
  <% include ../footer.ejs %>

  <% include ../script.ejs %>
  <script>
    const LINK_API = 'http://localhost:3000/api/';
    const isLogin = <%= isAuthenticated%>;
    let userName = "<%= username %>";
    const product = {
      _id: "<%= product._id %>",
      price: <%= product.price%>,
      name: "<%= product.name %>",
      type: "<%= product.type %>",
      image: "<%= product.image%>",
      brand: "<%= product.brand %>",
      quantity: <%= product.quantity%>
    };

    let page = 1;
    const cartListString = window.localStorage.getItem("cartList");
    let cartList = [];
    let cartSize = 0;

    if (cartListString != ""){
      cartList = JSON.parse(cartListString);
      cartSize = parseInt(window.localStorage.getItem("cartSize"));
    }

    loadCmtFromApi(page);
    loadSuggestProduct();

    function addProduct(id, image, name, price, index){
      const htmlElement = '<div class="single_category_product"> <div class="single_category_img"> <a href="/category/' + id + '"> <img src="' + image + '" height="259" width="500" alt=""> </a> <div class="category_social_icon"></div><div class="category_product_text"> <a href="/category/' + id + '"> <h5>' + name + '</h5></a> <p>' + formatMoney(price) + '</p></div></div></div>';
      const div = document.createElement('div');
      div.className = "col-lg-3 col-sm-6";
      div.innerHTML = htmlElement;
      const productList = document.getElementById('product-list');
      productList.appendChild(div);
    }

    function formatMoney(money) {
        money = money.toString();
        var format = "";
        let i = money.length,
        k = 0;
        while (i-- > 0) {
        format = money[i] + format;
        k++;
        if (k % 3 === 0 && i != 0) format = "." + format;
        }
        format += "VNĐ";
        return format;
    }

    async function loadSuggestProduct(){
      const response = await fetch(LINK_API + 'suggest-product');
      const data = await response.json();

      for (i = 0; i < data.length; i++){
        const product = data[i];
        addProduct(product._id, product.image, product.name, product.price, i);
      }
    }

    function addCartClick(){
      const quantity = document.getElementById('value').value;
      if (cartSize + parseInt(quantity) >= 40){
        alert('Lỗi: Giỏ hàng đầy.');
        return;
      }
      const index = findIndex(product);
      
      if (index == -1){
        const totalPrice = parseInt(quantity) * product.price;
        const cartItem = {
          product: product,
          quantity: parseInt(quantity),
          totalPrice: totalPrice
        }
        cartList.push(cartItem);
        window.localStorage.setItem("cartList", JSON.stringify(cartList));

        if (isLogin)
          addItemToUserCart(window.localStorage.getItem("userId"), product._id, cartItem.quantity, cartItem.totalPrice);

      }else{
        cartList[index].quantity += parseInt(quantity);
        cartList[index].totalPrice = product.price * cartList[index].quantity;
        window.localStorage.setItem("cartList", JSON.stringify(cartList));
        if (isLogin)
          addItemToUserCart(window.localStorage.getItem("userId"), product._id, cartList[index].quantity,  cartList[index].totalPrice);
      }
      cartSize += parseInt(quantity);
      changeCartSize(cartSize);
    }

    function changeCartSize(size){
        const cartSize = document.getElementById('cart-size');
        cartSize.innerText = size;
        window.localStorage.setItem("cartSize", size);
    }

    async function addItemToUserCart(userId, productId, quantity, totalPrice){
      const data = {userId: userId, productId: productId, quantity: quantity, totalPrice: totalPrice};
      await fetch(LINK_API + 'update-cart',{
          method: 'POST',
          headers:{
              'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
      });
    }


    function findIndex(product){
      let res = -1;
      for (i = 0; i < cartList.length; i++){
          if (product._id == cartList[i].product._id)
          {
              res = i;
              return res;
          }
      }
      return res;
    }
    function addComment(name, day, comment)
    {
      var day_str = day.toLocaleString();
      const htmlElement = '<div class="media"> <div class="d-flex"> <img src="img/product/single-product/review-1.png" alt=""/> </div><div class="media-body"> <h4>' + name +'</h4> <h5> '+ day_str +'</h5> </div></div><p class="ml-3">'+ comment +'</p>';
      const div = document.createElement('div');
      div.className = "review_item";
      div.innerHTML = htmlElement;
      const commentList = document.getElementById("commentList");
      commentList.appendChild(div);
    }

    function sendCmt(){
      if (!isLogin){
        const name = document.getElementById('fullname').value;
        const content = document.getElementById('message').value;
        userName = name;

        if (name != "" && content != "")
        {
          const now = new Date();
          addComment(name, now, content);
          document.getElementById('message').value = "";
          sendCmtToApi(content);
        }else{
          alert('Lỗi: Nội dung/Họ tên rỗng!');
        }
      }
      else{
        const content = document.getElementById('message').value;
        if (content == ""){
          alert('Lỗi: Nội dung rỗng!');
          return;
        }else{
          document.getElementById('message').value = "";
          const now = new Date();
          addComment(userName, now, content);
          sendCmtToApi(content);
        }
      }
    }

    async function sendCmtToApi(content){
      const link = window.location.href;
      const tokens = link.split('/');
      const productId = tokens[4];
      const userId = window.localStorage.getItem("userId");
      const now = new Date();

      const data = {
        userId: userId, 
        productId: productId, 
        cmt: content,
        fullname: userName,
        createOn: now
      };

      await fetch(LINK_API + 'send-cmt',{
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      });
    }

    async function loadCmtFromApi(page){
      const link = window.location.href;
      const tokens = link.split('/');
      const productId = tokens[4];

      const response = await fetch(LINK_API + 'cmt-list?id=' + productId + '&page=' + page);
      const data = await response.json();

      data.forEach((item) => {
        const time = new Date(item.createOn);
        addComment(item.fullname, time, item.cmt);
      });
    }

    function loadMoreEventClick(){
      page++;
      loadCmtFromApi(page);
    }
  </script>
</body>

</html>
